html {
    font-family: "Plus Jakarta Sans", Arial, sans-serif;
    font-weight: 700;
}

body {
    background-color: rgb(14, 14, 14);
    color: white;
}

a {
    text-decoration: none;
    color: rgb(0, 194, 194);
}

a:hover {
    text-decoration: underline;
    text-transform: uppercase;
}